<ul class="dropdown-menu dropdown-menu-lg-end">
    <li class="dropdown-item">通知</li>
    <li><hr class="dropdown-divider"></li>
    <%= turbo_frame_tag 'notifications' do %>
        <% if @notifications.present? %>
        <%= link_to destroy_all_notifications_path, data: {turbo_method: :delete}, class: 'text-dark' do %>
            <i class="fas fa-trash-alt"></i> 全て既読にする
          <% end %>
                  <% @notifications.each do |notification| %>
                      <%= render 'notifications/notification', { notification: notification } %>
                  <% end %>
        <% else %>
            <%= render 'notifications/no_notification' %>
        <% end %>
    <% end %>
</ul>