<%= turbo_frame_tag 'notification_count' do %>
  <% if @notifications.present? && @notifications.reject(&:self_chat_notification?).any? %>
  <span class="indicator-item badge badge-accent"><%= @notifications.reject(&:self_chat_notification?).count %>
      </span>
    <% end %>
<% end %>
