<div class="text-gray-600 bg-fixed bg-cover bg-[url('./images/top_calendar.png')]" >
  <div class="relative h-96">
    <div class="absolute top-10 left-14">
    <h3 class="text-3xl"><font style="vertical-align: inherit;">gather x together</font></h3>
      <h1 class="text-9xl"><font style="vertical-align: inherit;">To<span class="text-accent">.</span>Gather</font></h1>
      <div class="chat chat-start">
    <div class="chat-image avatar">
    <div class="w-20 rounded-full">
    <img src="./images/top_icon.png">
    </div>
  </div>
  <div class="chat-bubble">集まって、計画して、シェアして<br/>To.Gatherで一つになる時間管理</div>
</div>
      </div>
   </div>
   <div class="relative h-6">
   <h3 class="text-5xl ml-20 mt-20"><font style="vertical-align: inherit;">how to use</font></h3>
   </div>
   <div>
   <img src="./images/how_to_use2.png">
   </div>
   </div>
 </div>
 