<div class="flex-col items-center justify-center">
  <div class="py-6 rounded-md px-10 ">
    <h1 class="text-center text-lg font-bold text-gray-600 py-2">
      <%= t('.title') %>
    </h1>
    <%= render "groups/form", group: @group %>
  </div>
</div>

