<%= form_with(model: group, local: true) do |f| %>
    <div class="w-full text-center">
      <%= f.label :title, class: "sr-only" %><span class="text-gray-400 text-sm">※15文字以内</span>
      <%= f.text_field :title, autofocus: true, id: "title", class: "block w-full px-5 py-3 text-gray-600 text-base  placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" %>
    </div>

    <div class="flex items-center justify-center mt-4 lg:space-y-2">
      <%= f.submit "保存", class: "flex items-center justify-center w-20 px-4 py-3 text-base font-medium text-center text-secondary transition duration-500 ease-in-out transform bg-primary rounded-xl hover:bg-accent focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500" %>
    </div>
<% end %>