<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>
<div>
<% if @groups.present? %>
  <%= render @groups %>
<% else %>
  <div>参加グループがありません</div>
<% end %>
<!-- ひとまずリンク置きます -->
<%= link_to "グループ作成", new_group_path %>
