<footer class="footer items-center p-4 bg-primary text-secondary">
  <aside class="items-center grid-flow-col">
    <%= image_tag('logo.png', size: '48x48' ) %> 
    <p>Copyright © 2024 - All right reserved</p>
  </aside> 
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
  <a href='https://forms.gle/AwzqVNpBbAZrVHgGA' target="_blank" class="hover:text-accent transition-all duration-300">
  <i class="fa-solid fa-envelope"></i>&nbsp;問い合わせ</a>
  <%= link_to terms_of_use_path, class: "hover:text-accent transition-all duration-300" do %>
  <i class="fa-solid fa-shield-halved"></i></i>&nbsp;利用規約<% end %>
  <%= link_to privacy_policy_path, class: "hover:accent transition-all duration-300" do %>
  <i class="fa-solid fa-lock"></i>&nbsp;プライバシーポリシー<% end %>
  </nav>
</footer>