<header class="bg-cyan-100 text-gray-600">
<div class="container mx-auto flex justify-between items-center px-8 text-lg">
  <div class="space-x-3">
  <button class="rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-2 py-2">
      <i class="fa-solid fa-gear fa-xl"></i>
  </button>
  <button class="rounded-lg drop-shadow-lg bg-yellow-100 hover:bg-yellow-300 hover:drop-shadow-none px-2.5 py-2">
    <i class="fa-regular fa-calendar-check fa-xl"></i>
  </button>
  </div>
  <div>
    <button class="rounded-none bg-yellow-100 hover:bg-yellow-200 px-8 py-6">
      <%= link_to 'SignUp', '#'%>
    </button>
  </div>
</div>
</header>