<header class="bg-primary-100 text-gray-600">
<div class="container mx-auto flex justify-end items-center px-8 text-lg">
  <div>
    <button class="rounded-none bg-primary-100 hover:bg-cyan-300 px-10 py-6">
      <%= link_to 'Login', '#' %>
    </button>
    <button class="rounded-none bg-lemon-100 hover:bg-yellow-100 px-8 py-6">
      <%= link_to 'SignUp', '#'%>
    </button>
    <button id="openUserSettingModalButton" class="ml-4 text-sm text-gray-700">設定</button>
  </div>
</div>
</header>