<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="bg-white py-6 rounded-md px-10 w-96 shadow-md space-y-5 text-gray-600 text-sm">
    <div class="flex items-center">
      <p class="px-1">グループ名：</p>
      <%= link_to group_events_path(group_id: @group.id) do %>
        <p class="link link-primary"><%= @group.title %></p>
      <% end %>
    </div>
    <div class="space-y-5">
    <%= render "form" %>
    </div>
  </div>
</div>