<!DOCTYPE html>
<html>
<head>
  <title>グループ招待</title>
</head>
<body>
  <h1>グループへの招待</h1>
  <p><%= @user.name %>さん、こんにちは！</p>
  <p>あなたは<%= @group.title %>グループに招待されています。</p>
  <p><a href="<%= @url %>">こちら</a>からグループを確認してください。</p>
</body>
</html>
