/* ここにCSSを書いてください */

.simple-calendar {
  .prev-month a {
    display: none;
  }
  .prev-month .label-style {
    display: none;
  }
  .next-month a {
    display: none;
  }
  .next-month .label-style {
    display: none;
  }
  .wday-0 a {
    color: red;
    p {
      color: #4b5563;
    }
  }
  .wday-6 a {
    color: blue;
    p {
      color: #4b5563;
    }
  }
  .past a {
    color: gray;
    p {
      color: gray;
    }
  }
  .day {
    height: 110px;
    max-width: 110px;
  }
  td {
    width: 110px;
    padding: 9px;
    vertical-align: top;
    border-left: 0.8px solid rgba(234, 232, 232, 0.857);
    border-right: 0.8px solid rgba(234, 232, 232, 0.857);
  }
  th {
    border-left: 0.8px solid rgba(234, 232, 232, 0.857);
    border-right: 0.8px solid rgba(234, 232, 232, 0.857);
  }
  tr {
    border-bottom-color: rgba(234, 232, 232, 0.857);
  }
  .today a {
    background-color: #136988c0;
    color: #f3f4f6;
    p {
      color: #4b5563;
    }
  }
  .today a:hover{
    background-color: #bae6fd;
  }
  @media screen and (max-width: 600px) {
    .month-button a {
      width: 20px;
      height: 10px;
    }
    span {
      font-size: small;
    }
    th {
      font-size: x-small;
    }
    tr {
      font-size: x-small;
    }
    .label-style .title-flame{
      width: 30px;
      padding: 0.2px;
      p {
        font-size: xx-small;
      }
    }
  }
}
