/* ここにCSSを書いてください */

.simple-calendar {
  .prev-month a {
    display: none;
  }
  .next-month a {
    display: none;
  }
  .wday-0 a {
    color: red;
  }
  .wday-6 a {
    color: blue;
  }
  .past a {
    color: gray;
    p {
      color: gray;
    }
  }
  .day {
    height: 120px;
    max-width: 120px;
  }
  td {
    width: 120px;
    padding: 9px;
    vertical-align: top;
    border-left: 0.8px solid rgba(234, 232, 232, 0.857);
    border-right: 0.8px solid rgba(234, 232, 232, 0.857);
  }
  th {
    border-left: 0.8px solid rgba(234, 232, 232, 0.857);
    border-right: 0.8px solid rgba(234, 232, 232, 0.857);
  }
  tr {
    border-bottom-color: rgba(234, 232, 232, 0.857);
  }
  .today a {
    background-color: #136988c0;
    color: #f3f4f6;
    p {
      color: #4b5563;
    }
  }
  .today a:hover{
    background-color: #bae6fd;
  }
}
