  <p>✨ <%= "#{@resource.name}さん" %> ✨</p> 
  <br>
  <p>AppNameをご利用いただきありがとうございます🥳</p>
  <br>
  <p>以下のURLをクリックして、メールアドレス認証手続きを完了してください。</p>
  <p><%= link_to "📨 メールアドレスを認証する", confirmation_url(@resource, confirmation_token: @token) %></p>
  <p>※このURLの有効期限は24時間です。</p>